<app-modal [isShow]="show" [opacidad]="true">
  <div class="grid relative pb-11 grid-cols-1 w-full max-w-5xl p-6 bg-gray-50 dark:bg-gray-800 rounded-lg shadow-md border border-gray-200">
    <div class="flex justify-end">
      <button (click)="closed()" class="text-blue-400 hover:text-blue-500 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
    </button>
    </div>
    <form class="flex flex-col gap-4">
      <div class="overflow-hidden flex justify-center items-center">
        <img [src]="imagenUrl" class="rounded-lg object-cover" style="width:150px; height:150px" alt="" />
      </div>

        <input type="file" #refInputFile (change)="cargarImg(refInputFile)">
        <div class="grid md:grid-cols-2 xs:grid-cols-1 gap-3 lg:grid-cols-2 sm:grid-cols-1">

            <button type="button"
            (click)="updateRutaImg('',refInputFile)"
             class="inline-flex justify-center w-full rounded-md border border-blue-400 bg-white text-black px-4 py-2 text-sm font-semibold hover:text-white shadow-sm hover:bg-blue-500 sm:w-auto  transition duration-300">
              Limpiar
            </button>
            <button
            (click)="guardar(refInputFile)"
             class="inline-flex justify-center w-full rounded-md border border-blue-400 bg-white text-black px-4 py-2 text-sm font-semibold hover:text-white shadow-sm hover:bg-blue-500 sm:w-auto transition duration-300 ">
              Guardar
            </button>
        </div>
    </form>

</div>
</app-modal>
