<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <div class="lg:flex lg:items-center">
            <div class="w-full space-y-12 lg:w-1/2 ">
                <div>
                    <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">Genchild <br>Software de apoyo diagnóstico</h1>

                    <div class="mt-2">
                        <span class="inline-block w-40 h-1 rounded-full bg-blue-500"></span>
                        <span class="inline-block w-3 h-1 ml-1 rounded-full bg-blue-500"></span>
                        <span class="inline-block w-1 h-1 ml-1 rounded-full bg-blue-500"></span>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28" color="#4a90e2" fill="none">
                        <path d="M6.08938 14.999C5.71097 14.1484 5.5 13.2021 5.5 12.2049C5.5 8.50135 8.41015 5.49902 12 5.49902C15.5899 5.49902 18.5 8.50135 18.5 12.2049C18.5 13.2021 18.289 14.1484 17.9106 14.999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M12 1.99902V2.99902" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M22 11.999H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M3 11.999H2" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M19.0704 4.92773L18.3633 5.63484" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M5.6368 5.63582L4.92969 4.92871" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M14.517 19.3055C15.5274 18.9786 15.9326 18.0538 16.0466 17.1236C16.0806 16.8458 15.852 16.6152 15.572 16.6152L8.47685 16.6154C8.18725 16.6155 7.95467 16.8612 7.98925 17.1488C8.1009 18.0771 8.3827 18.7553 9.45345 19.3055M14.517 19.3055C14.517 19.3055 9.62971 19.3055 9.45345 19.3055M14.517 19.3055C14.3955 21.2505 13.8338 22.0207 12.0068 21.9991C10.0526 22.0352 9.60303 21.0831 9.45345 19.3055" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Nuestra misión</h1>

                        <p class="mt-3 text-gray-500 dark:text-gray-300">
                            Nos dedicamos a revolucionar el diagnóstico y manejo de enfermedades genéticas en niños. Inspirados por los estudios del doctor Jaime Bernal, hemos creado Genchild, una plataforma integral que combina investigación clínica, genética y tecnología avanzada
                            para mejorar la precisión y rapidez en la detección de trastornos genéticos pediátricos.
                        </p>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28" color="#4a90e2" fill="none">
                        <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M14.5269 15.0816C18.5281 12.0136 17.8948 8.61324 16.0422 7.51869C14.5897 6.66047 13.3219 7.00632 12.5603 7.55723C12.248 7.78311 12.0919 7.89605 12 7.89605C11.9081 7.89605 11.752 7.78311 11.4397 7.55723C10.6781 7.00632 9.41034 6.66047 7.95778 7.51869C6.11193 8.60928 5.64895 12.1138 9.61321 15.1813C10.37 15.7669 11.1711 16.2935 12 16.7713C13.7788 17.7965 16.4168 19 19 19M5 19C6.54872 19 8.11718 18.5674 9.50835 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">¿Por qué Genchild?</h1>

                        <p class="mt-3 text-gray-500 dark:text-gray-300">
                            La salud de los niños se enfrenta constantemente a desafíos provocados por enfermedades genéticas. La carencia de herramientas de diagnóstico precisas y actualizadas deja a los neonatólogos y pediatras navegando por aguas desconocidas, lo que podría causar
                            demoras en el tratamiento y cuidado adecuados. Genchild se posiciona para enfrentar esta problemática mediante la integración de telemedicina, investigación y los más recientes avances en telecomunicaciones.
                        </p>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28" color="#4a90e2" fill="none">
                        <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" />
                        <path d="M14 16C13.4271 16.6318 12.7395 17 12 17C11.2605 17 10.5729 16.6318 10 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M9 11.5C8.71357 11.1841 8.36974 11 8 11C7.63026 11 7.28643 11.1841 7 11.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M17 11.5C16.7136 11.1841 16.3697 11 16 11C15.6303 11 15.2864 11.1841 15 11.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M12 2C10.3431 2 9 3.34315 9 5C9 6.65685 10.3431 8 12 8C12.7684 8 13.4692 7.71115 14 7.23611" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">transformando la atención medica</h1>

                        <p class="mt-3 text-gray-500 dark:text-gray-300">
                            Desde su implementación, Genchild ha sido fundamental en la identificación temprana y el manejo efectivo de enfermedades genéticas en niños. Nos enorgullece contribuir a mejorar la calidad de vida de los pacientes pediátricos y a promover un futuro más
                            saludable para las generaciones venideras.
                        </p>
                    </div>
                </div>
            </div>

            <div class="hidden lg:flex lg:items-center lg:w-1/2 lg:justify-center">
                <img class="w-[28rem] h-[28rem] object-cover xl:w-[34rem] xl:h-[34rem] rounded-full" src="/assets/img/Genchild.jpg" alt="">
            </div>
        </div>

        <hr class="border-gray-200 my-12 dark:border-gray-700">
        <div class="flex justify-center">
            <button (click)="open()" class="bg-blue-400 hover:scale-105 dark:bg-gray-100 text-white active:bg-blue-500 dark:text-gray-800 dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                type="button">
          Genchild team by Jaime Bernal
      </button>
        </div>
    </div>
</section>

<app-modal [isShow]="showModal" [opacidad]="true">
    <div class="flex flex-col justify-center items-center h-[100vh]">
        <div class="relative flex flex-col items-center rounded-[20px] w-[700px] max-w-[95%] mx-auto bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:!shadow-none p-3">
            <div class="mt-2 mb-8 w-full">
                <div class="flex justify-end mb-4">
                    <button (click)="closed()" class="text-blue-400 hover:text-blue-500 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
                </div>
                <h4 class="px-2 text-xl font-bold text-blue-400 dark:text-blue-500">
                    Genchild Team by Jaime Bernal
                </h4>
                <p class="mt-2 px-2 text-base text-gray-600">
                    Genchild Team, liderado por el doctor Jaime Bernal, fusiona expertos en ingeniería, diseño, desarrollo y personal médico para crear el software Genchild. Su enfoque multidisciplinario busca innovar tanto en tecnología como en medicina, ofreciendo soluciones
                    que mejoran la experiencia digital y tienen un impacto positivo en la atención médica y la investigación.
                </p>
            </div>
            <div class="grid grid-cols-2 gap-4 px-2 w-full">
                <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-blue-400">Inspiración del proyecto</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        Jaime Bernal.
                    </p>
                </div>

                <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-blue-400">Investigadores</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        Vladimir Roa, Irina Tirado, Natalia Lemus, Jaime Bernal.
                    </p>
                </div>

                <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-blue-400">Areas involucradas</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        Ingeniería de sistemas, Medicina.
                    </p>
                </div>

                <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-blue-400">Arquitectos de software</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        Geraldine Grazziani, Juan Fernandez, Cristian Santana.
                    </p>
                </div>

                <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-blue-400">Desarrolladores</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        Miller Vargas, Juliana Fernandez.
                    </p>
                </div>

                <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-blue-400">Colaboradores</p>
                    <p class="text-base font-medium text-navy-700 dark:text-white">
                        Kiara Payares.
                    </p>
                </div>
            </div>
        </div>
    </div>
</app-modal>
