<div class="w-screen h-screen overflow-hidden relative before:block before:absolute before:bg-black before:h-full before:w-full before:top-0 before:left-0 before:z-10 before:opacity-30">
    <img src="/assets/img/transtornos_geneticosjpg.jpg" class="absolute top-0 left-0 min-h-full ob" alt="">
    <div class="relative z-20 max-w-screen-lg mx-auto grid grid-cols-12 h-full items-center">
        <div class="col-span-6">
            <span class="uppercase text-white text-xs font-bold mb-2 block">¡Bienvenido!</span>
            <h1 class="text-white font-extrabold text-5xl mb-8">Genchild</h1>
            <p class="text-stone-100 text-base">
                Innovación genética para un futuro saludable.
            </p>
        </div>
    </div>
</div>
<div class="bg-blue-500 py-20">
    <div class="max-w-screen-lg mx-auto flex justify-center items-center">
        <div class="max-w-xl text-center">
            <h2 class="font-black text-white text-3xl mb-4">Software de apoyo indispensable para el diagnóstico y manejo de enfermedades genéticas en niños.</h2>
        </div>
    </div>
</div>
<div class="py-12 relative overflow-hidden bg-white">
    <div class="grid grid-cols-2 max-w-screen-lg mx-auto">
        <div class="w-full flex flex-col items-end pr-16">
            <div class="h-full mt-auto overflow-hidden relative">
                <img src="/assets/img/Genchild.jpg" class="h-full w-full object-contain" alt="">
            </div>
        </div>
        <div class="py-20 bg-blue-400 relative before:absolute before:h-full before:w-screen before:bg-blue-400 before:top-0 before:left-0">
            <div class="relative z-20 pl-12">
                <h2 class="text-white font-black text-4xl leading-snug mb-10 text-start">Genchild, mejora la calidad de vida a través de diagnósticos tempranos y precisos.</h2>
            </div>
        </div>
    </div>
</div>

<div class="py-4 relative overflow-hidden bg-white">
    <div class="grid grid-cols-2 max-w-screen-lg mx-auto">

        <div class="py-20 bg-blue-500 relative before:absolute before:h-full before:w-screen before:bg-blue-500 before:top-0 before:right-0 flex justify-center items-center">
            <div class="relative z-20 pl-12 text-center">
                <h2 class="text-white font-black text-4xl leading-snug mb-10 text-start">Proporciona una solución integral para el diagnóstico y manejo de enfermedades genéticas en niños.</h2>
            </div>
        </div>

        <div class="w-full flex flex-col pl-16">
            <div class="h-full mt-auto overflow-hidden relative">
                <img src="/assets/img/Neonatologia.jpg" class="h-full w-full object-contain" alt="">
            </div>
        </div>
    </div>
</div>

<div class="py-12 relative overflow-hidden bg-white ">
    <div class="grid grid-cols-2 max-w-screen-lg mx-auto ">
        <div class="w-full flex flex-col items-end pr-16 ">
            <div class="h-full mt-auto overflow-hidden relative ">
                <img src="/assets/img/sindromes.jpg" class="h-full w-full object-contain " alt=" ">
            </div>
        </div>

        <div class="py-20 bg-blue-400 relative before:absolute before:h-full before:w-screen before:bg-blue-400 before:top-0 before:left-0">
            <div class="relative z-20 pl-12">
                <h2 class="text-white font-black text-4xl leading-snug mb-10 text-start">Promovemos un futuro más saludable para las generaciones venideras.</h2>
            </div>
        </div>

    </div>
</div>