<div class="mt-4 mx-4">
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
            <div class="bg-white rounded flex items-center w-full  p-2 shadow-sm border border-gray-200 mb-4">
                <desplegable style="margin-left: 0.5rem;" [options]="options()" [data]="filtro" name="filtro" />
                <button class="outline-none focus:outline-none" style="margin-left: 1rem;">
                  <svg class="w-5 text-gray-600 h-5 cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                    <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
                  </button>

                <input (change)="search(refInput.value)" #refInput name="workToSearch" [(ngModel)]="workToSearch" placeholder="Buscar..." class="w-full pl-3 text-sm text-black outline-none focus:outline-none bg-transparent" />
                <button (change)="search(refInput.value)" class="bg-blue-400 rounded shadow-lg text-white hover:scale-105 px-2 mx-2">Buscar</button>
                <button (click)="limpiar(refInput)" class="bg-blue-400 rounded shadow-lg text-white hover:scale-105 px-2">Refrescar</button>
            </div>
            <table class="w-full">
                <thead>
                    <tr class="text-xs font-semibold tracking-wide text-white uppercase border-b dark:border-blue-400  bg-blue-500">
                        @for(cabecera of cabecera(); track cabecera){ @if(cabecera.isShow){
                        <th class="px-4 py-3 text-left">{{cabecera.nameCol}}</th>
                        } }
                        <th *ngIf="hasAccion().includes(1) || hasAccion().includes(2)" class="px-4 py-3 text-left">Acción</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    @for( listData of listData(); track listData){
                    <tr class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400 cursor-pointer">

                        @for( value of objectToList(listData); track value ; let i = $index){ @if(cabecera()[i].isShow){ @if(cabecera()[i].nameCol.includes('Fecha')){
                        <th class="px-4 py-3 text-left">{{ value | date }}</th>

                        } @else{
                        <th class="px-4 py-3 text-left">{{ value}}</th>
                        } } }
                        <td class="px-4 py-3">
                            <button *ngIf="hasAccion().includes(1)" (click)="onDetails.emit(listData)" class="bg-blue-500 dark:bg-gray-100 text-white active:bg-blue-600 dark:text-gray-800 dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                type="button">
                            Ver
                          </button>
                            <button *ngIf="hasAccion().includes(2)" (click)="onEdit.emit(listData)" class="bg-green-600 dark:bg-gray-100 text-white active:bg-blue-600 dark:text-gray-800 dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                type="button">
                            Edit
                          </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="w-full items-center flex justify-between p-1 pr-3">
        <pagination [pages]="pages" [actual]="actual()" [pageCount]="meta()?.pageCount ?? 0" [isNext]="meta()?.hasNextPage ?? false" [isPrev]="meta()?.hasPreviousPage ?? false" (eventPage)="eventPagination.emit($event)" />
    </div>
</div>
